CREATE TABLE `areas` (
  `id_area` int(11) NOT NULL AUTO_INCREMENT,
  `area` varchar(60) NOT NULL,
  PRIMARY KEY (`id_area`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `areas` WRITE;
set autocommit=0;
INSERT INTO `areas` VALUES
(1,'Casos de Familia'),
(2,'Diligencias Voluntarias (vía notarial, sin litis)'),
(3,'Casos Laborales/Juicios Ordinarios');
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `tipo_caso`;
CREATE TABLE `tipo_caso` (
  `id_tipo_exp` int(11) NOT NULL AUTO_INCREMENT,
  `caso` varchar(50) NOT NULL,
  `id_area` int(11) NOT NULL,
  PRIMARY KEY (`id_tipo_exp`),
  KEY `id_area` (`id_area`),
  CONSTRAINT `tipo_caso_ibfk_1` FOREIGN KEY (`id_area`) REFERENCES `areas` (`id_area`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `tipo_caso` WRITE;
set autocommit=0;
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `asesores`;
CREATE TABLE `asesores` (
  `id_asesor` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `apellido` varchar(50) NOT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`id_asesor`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `asesores` WRITE;
set autocommit=0;
INSERT INTO `asesores` VALUES (1,'Olga Maribel','Tello','58815052'),(2,'Ingrid Jeaneth','Lopez Pelaez','48000030'),(4,'Emilia Patricia','Choc Caal',NULL),(11,'Astrid Johana','Lemus Peralta',NULL),(12,'Gustavo A','Diaz Perez',NULL);
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `carreras`;
CREATE TABLE `carreras` (
  `id_carrera` int(11) NOT NULL AUTO_INCREMENT,
  `carrera` varchar(80) NOT NULL,
  PRIMARY KEY (`id_carrera`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `carreras` WRITE;
set autocommit=0;
INSERT INTO `carreras` VALUES
(1,'Licenciatura en Ciencias Jurídicas Sociales'),
(2,'Licenciatura en Investigación Criminal y Forense'),
(3,'Técnico Universitarios en Investigación Criminal y Forense');
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `estados`;
CREATE TABLE `estados` (
  `id_estado` int(11) NOT NULL AUTO_INCREMENT,
  `estado` varchar(25) NOT NULL,
  PRIMARY KEY (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `estados` WRITE;
set autocommit=0;
INSERT INTO `estados` VALUES
(1,'Activo'),
(2,'Inactivo');
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `estados_exp`;
CREATE TABLE `estados_exp` (
  `id_estado_exp` int(11) NOT NULL AUTO_INCREMENT,
  `estado_exp` varchar(25) NOT NULL,
  PRIMARY KEY (`id_estado_exp`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `estados_exp` WRITE;
set autocommit=0;
INSERT INTO `estados_exp` VALUES (1,'Conciliación'),(2,'Sentencia de primera'),(3,'Sentencia de segunda'),(4,'Desestimado'),(5,'Descargado'),(11,'Fenecido');
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `estados_prest`;
CREATE TABLE `estados_prest` (
  `id_estado_prest` int(11) NOT NULL AUTO_INCREMENT,
  `estado_prest` varchar(25) NOT NULL,
  PRIMARY KEY (`id_estado_prest`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;




LOCK TABLES `estados_prest` WRITE;
set autocommit=0;
INSERT INTO `estados_prest` VALUES
(1,'Vigente'),
(2,'Vencido'),
(3,'Devuelto');
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `estantes`;
CREATE TABLE `estantes` (
  `id_estante` int(11) NOT NULL AUTO_INCREMENT,
  `estante` int(11) NOT NULL,
  PRIMARY KEY (`id_estante`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `estantes` WRITE;
set autocommit=0;
INSERT INTO `estantes` VALUES
(1,1),
(2,2),
(3,3),
(4,4),
(5,5);
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `lugares`;
CREATE TABLE `lugares` (
  `id_lugar` int(11) NOT NULL AUTO_INCREMENT,
  `municipio` varchar(30) NOT NULL,
  PRIMARY KEY (`id_lugar`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `lugares` WRITE;
set autocommit=0;
INSERT INTO `lugares` VALUES
(1,'Cobán'),
(2,' San Juan Chamelco'),
(3,'Santa Cruz'),
(4,'San Pedro Carcha'),
(5,'San Cristobal'),
(6,'Tactic'),
(7,'Chisec');
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `estudiantes`;
CREATE TABLE `estudiantes` (
  `id_estudiante` int(11) NOT NULL AUTO_INCREMENT,
  `dpi_estudiante` varchar(13) DEFAULT NULL,
  `carnetEstudiantil` varchar(7) DEFAULT NULL,
  `nombre` varchar(50) NOT NULL,
  `apellido` varchar(50) NOT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  `id_carrera` int(11) NOT NULL,
  `id_estado` int(11) NOT NULL,
  PRIMARY KEY (`id_estudiante`),
  UNIQUE KEY `carnet_Est` (`carnetEstudiantil`),
  UNIQUE KEY `idx_dpi_unique` (`dpi_estudiante`),
  KEY `id_carrera` (`id_carrera`),
  KEY `id_estado` (`id_estado`),
  CONSTRAINT `estudiantes_ibfk_1` FOREIGN KEY (`id_carrera`) REFERENCES `carreras` (`id_carrera`),
  CONSTRAINT `estudiantes_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `estudiantes` WRITE;
set autocommit=0;
INSERT INTO `estudiantes` VALUES (1,'1425361425363',NULL,'Ruben Dario','Quim Pop',NULL,1,2),(2,NULL,'2214016','Edson Ariel','Caal Chiquin',NULL,1,1),(8,NULL,'2241716','Melany Aime','Milian Belteton',NULL,1,1),(9,NULL,'6309799','Ingrid Jeaneth','Lopez Pelaez',NULL,1,2),(10,NULL,'20596-1','Edson Abraham','Xuya Castillo',NULL,1,1),(11,NULL,NULL,'Isaias','Có',NULL,1,1);
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `interesados`;
CREATE TABLE `interesados` (
  `id_interesado` int(11) NOT NULL AUTO_INCREMENT,
  `dpi_interesado` varchar(20) DEFAULT NULL,
  `nombre` varchar(50) NOT NULL,
  `apellido` varchar(50) NOT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  `direccion_exacta` varchar(255) DEFAULT NULL,
  `id_lugar` int(11) NOT NULL,
  PRIMARY KEY (`id_interesado`),
  UNIQUE KEY `idx_dpi_interesado_unique` (`dpi_interesado`),
  KEY `id_lugar` (`id_lugar`),
  CONSTRAINT `interesados_ibfk_1` FOREIGN KEY (`id_lugar`) REFERENCES `lugares` (`id_lugar`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;




LOCK TABLES `interesados` WRITE;
set autocommit=0;
INSERT INTO `interesados` VALUES (1,'O-16 32,177','Elena','Quej',NULL,'Aldea Secakpur, Chisec, AV',4),(2,'1920740241610','Albina','Guitz Caz',NULL,'Aldea Sejac 2 horas de Campur, Alta Verapaz Chamil',2),(11,'2853902281607','Glenda Marisol','Caal Cac',NULL,'Barrio San Benito Zona 4 catalina la tnta',1),(12,'1786315761613','Carolina','Coc Che',NULL,'barrio el centro 2, Chisec AV, a dos casas de tienda Don Lino',7),(13,'183577891607','Marta Alicia','Juc Cac','45141073','Adyacente Chijacorral',6),(14,'01676516','Ana María','Li Xol',NULL,'San Vicente zona 6',1);
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `juzgados`;
CREATE TABLE `juzgados` (
  `id_juzgado` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `id_estado` int(11) NOT NULL,
  PRIMARY KEY (`id_juzgado`),
  KEY `id_estado` (`id_estado`),
  CONSTRAINT `juzgados_ibfk_1` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `juzgados` WRITE;
set autocommit=0;
INSERT INTO `juzgados` VALUES (1,'Juzgado Pluripersonal de Primera Instancia de Familia del Departamento de Alta Verapaz',1),(2,'Juzgado de Paz Civil, Familia y Trabajo del Municipio de Cobán, departamento de Alta Verapaz',1),(3,'Juzgado de Paz de San Juan Chamelco, Alta Verapaz',1),(4,'Juzgado de Paz de San Pedro Carchá, Alta Verapaz',1),(5,'Juzgado de Paz de Santa Cruz Verapaz, Alta Verapaz',1),(6,'Juzgado de Primera Instancia de Trabajo y Previsión Social y de lo Económico Coactivo del Departamento de Alta Verapaz',1);
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `expedientes`;
CREATE TABLE `expedientes` (
  `id_expediente` int(11) NOT NULL AUTO_INCREMENT,
  `ficha_social` varchar(20) DEFAULT NULL,
  `numero_caso` varchar(2) DEFAULT NULL,
  `anio` year(4) DEFAULT NULL,
  `dpi_interesado_exp` varchar(20) DEFAULT NULL,
  `id_interesado` int(11) NOT NULL,
  `dpi_estudiante_exp` varchar(20) DEFAULT NULL,
  `id_estudiante` int(11) NOT NULL,
  `id_juzgado` int(11) DEFAULT NULL,
  `num_proceso` varchar(50) DEFAULT NULL,
  `folios` int(4) NOT NULL,
  `id_asesor` int(11) DEFAULT NULL,
  `id_tipo_exp` int(11) NOT NULL,
  `id_estado_exp` int(11) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_audiencia1` date DEFAULT NULL,
  `fecha_audiencia2` date DEFAULT NULL,
  `fecha_finalizacion` date DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `id_estante` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_expediente`),
  KEY `id_juzgado` (`id_juzgado`),
  KEY `id_asesor` (`id_asesor`),
  KEY `id_tipo_caso` (`id_tipo_exp`),
  KEY `id_estado_expe` (`id_estado_exp`),
  KEY `id_estante` (`id_estante`),
  KEY `fk_expedientes_interesado` (`id_interesado`),
  KEY `fk_expedientes_estudiante` (`id_estudiante`),
  CONSTRAINT `expedientes_ibfk_3` FOREIGN KEY (`id_juzgado`) REFERENCES `juzgados` (`id_juzgado`),
  CONSTRAINT `expedientes_ibfk_4` FOREIGN KEY (`id_asesor`) REFERENCES `asesores` (`id_asesor`),
  CONSTRAINT `expedientes_ibfk_5` FOREIGN KEY (`id_tipo_exp`) REFERENCES `tipo_caso` (`id_tipo_exp`),
  CONSTRAINT `expedientes_ibfk_6` FOREIGN KEY (`id_estado_exp`) REFERENCES `estados_exp` (`id_estado_exp`),
  CONSTRAINT `expedientes_ibfk_7` FOREIGN KEY (`id_estante`) REFERENCES `estantes` (`id_estante`),
  CONSTRAINT `fk_expedientes_estudiante` FOREIGN KEY (`id_estudiante`) REFERENCES `estudiantes` (`id_estudiante`) ON UPDATE CASCADE,
  CONSTRAINT `fk_expedientes_interesado` FOREIGN KEY (`id_interesado`) REFERENCES `interesados` (`id_interesado`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

LOCK TABLES `expedientes` WRITE;
set autocommit=0;
INSERT INTO `expedientes` VALUES (10,'26-2022','24',2022,'2853902281607',11,NULL,8,1,'16019-2018-00496-Srio',1,1,6,1,'2022-04-22',NULL,NULL,'2023-03-31','',2),(11,'19-22','16',2022,'1786315761613',12,NULL,10,1,'16007-2022-00640-Of.4',30,2,6,11,'2022-03-16',NULL,NULL,'2023-01-20','',2),(14,'2003-0006','7',2004,'01676516',14,NULL,9,1,'1357-2003-Of.4',8,12,6,1,'2004-04-13',NULL,NULL,'2004-04-23','',2),(16,'10-2013',NULL,2016,'183577891607',13,NULL,11,1,'16007-2016-00404 Of 1',54,11,6,1,'2016-02-10',NULL,NULL,'2016-12-20','',2);
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `prestamos`;
CREATE TABLE `prestamos` (
  `id_prestamo` int(11) NOT NULL AUTO_INCREMENT,
  `id_expediente` int(11) NOT NULL,
  `dpi_estudiante_prest` varchar(20) DEFAULT NULL,
  `id_estudiante` int(11) NOT NULL,
  `fecha_entrega` date NOT NULL,
  `fecha_estimada_dev` date DEFAULT NULL,
  `fecha_devolucion` date DEFAULT NULL,
  `id_estado_prest` int(11) NOT NULL,
  PRIMARY KEY (`id_prestamo`),
  KEY `id_expediente` (`id_expediente`),
  KEY `dpi_estudiante` (`dpi_estudiante_prest`),
  KEY `id_estado_prest` (`id_estado_prest`),
  KEY `fk_prestamos_estudiante` (`id_estudiante`),
  CONSTRAINT `fk_prestamos_estudiante` FOREIGN KEY (`id_estudiante`) REFERENCES `estudiantes` (`id_estudiante`) ON UPDATE CASCADE,
  CONSTRAINT `prestamos_ibfk_1` FOREIGN KEY (`id_expediente`) REFERENCES `expedientes` (`id_expediente`),
  CONSTRAINT `prestamos_ibfk_3` FOREIGN KEY (`id_estado_prest`) REFERENCES `estados_prest` (`id_estado_prest`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `prestamos` WRITE;
set autocommit=0;
INSERT INTO `prestamos` VALUES (12,11,NULL,1,'2025-10-17','2025-10-22','2025-10-24',3),(13,10,NULL,1,'2025-10-24','2025-10-31',NULL,1),(14,14,NULL,2,'2025-10-27','2025-11-03',NULL,1);
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `roles`;
CREATE TABLE `roles` (
  `id_rol` int(11) NOT NULL AUTO_INCREMENT,
  `rol` varchar(20) NOT NULL,
  PRIMARY KEY (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `roles` WRITE;
set autocommit=0;
INSERT INTO `roles` VALUES
(1,'Directora'),
(2,'Secretaria');
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `usuarios`;
CREATE TABLE `usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `apellido` varchar(50) NOT NULL,
  `usuario` varchar(15) NOT NULL,
  `contrasena` varchar(255) NOT NULL,
  `id_rol` int(11) NOT NULL,
  `id_estado` int(11) NOT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `usuario` (`usuario`),
  KEY `id_rol` (`id_rol`),
  KEY `id_estado` (`id_estado`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`),
  CONSTRAINT `usuarios_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `usuarios` WRITE;
set autocommit=0;
INSERT INTO `usuarios` VALUES (1,'Astrid Johana','Lemus Peralta','Ajlemus','$2y$10$bCfKt7hugIv6AqS10ynCbu.rdlushRwnD.h0R/BlHnSO9P9IzfAV2',1,1),(19,'Delvin Elizabeth','Alvarez','dalvarez','$2y$10$2A5Q1VHCkZNnmRXmHfAU.eiLGVD3/kWTQdvFRsXHAoMkxkN54kEJy',2,1),(20,'Mayda','Maldonado','mmaldonado','$2y$10$hHs5OtKmqWNYteqKT1JB4.oEzHYAd8MBuegI0VCNiBSf3EVSy5O/.',2,2);
UNLOCK TABLES;
commit;


DROP TABLE IF EXISTS `transacciones`;
CREATE TABLE `transacciones` (
  `id_trans` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `tabla` varchar(50) NOT NULL,
  `id_registro` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha_hora` datetime NOT NULL DEFAULT current_timestamp(),
  `ip` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`id_trans`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `transacciones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `transacciones` WRITE;
set autocommit=0;
INSERT INTO `transacciones` VALUES (165,1,'usuarios','20','Desactivó usuario ID: 20 - Nombre: Mayda Maldonado, Usuario: mmaldonado, Rol: Secretaria, Razón: Usuario de prueba','2025-10-27 11:43:00','::1'),(166,1,'expedientes','16','Creó expediente ID: 16 - Ficha: 10-2013, Cliente: ID 13 (DPI: 183577891607), Estudiante: ID 11','2025-10-27 11:49:16','::1'),(167,1,'prestamos','14','Registro de préstamo ID: 14 - Expediente: 14 (2003-0006), Estudiante: Edson Ariel Caal Chiquin (ID: 2, Carnet: 2214016)','2025-10-27 12:40:34','::1');
UNLOCK TABLES;
commit;



DROP TABLE IF EXISTS `inicios_fallidos`;
CREATE TABLE `inicios_fallidos` (
  `id_log` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) DEFAULT NULL,
  `usuario_ingresado` varchar(100) DEFAULT NULL,
  `fecha_hora` datetime NOT NULL,
  `ip` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`id_log`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `inicios_fallidos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `inicios_fallidos` WRITE;
set autocommit=0;
INSERT INTO `inicios_fallidos` VALUES (29,19,'dalvarez','2025-10-22 18:45:30','::1'),(32,NULL,'pruebasss','2025-10-24 17:56:28','::1');
UNLOCK TABLES;
commit;